STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=postgresql://postgres:Albertyang@123@31.97.8.245:54321/medusa
DB_NAME=medusa
POSTGRES_URL=postgresql://postgres:Albertyang@123@31.97.8.245:54321/medusa
COOKIE_SECRET=as123456
CACHE_REDIS_URL=redis://default:ax9xpphp6jtb0xef@31.97.8.245:7900/1
EVENTS_REDIS_URL=redis://default:ax9xpphp6jtb0xef@31.97.8.245:7900/1
WE_REDIS_URL=redis://default:ax9xpphp6jtb0xef@31.97.8.245:7900/1